@use "@/assets/styles/settings/variables";

  .btn {
    padding: .7rem;  
    display: flex;
    height: variables.$height-btn;
    justify-content: center;
    align-items: center;    
    border: 2.5px solid variables.$border-btn;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 10px;      
    transition: all .3s;
    font-weight: 700;

    &--primary {
      color:  variables.$font-btn-primary;         
      background-color: variables.$background-btn-primary;  
    }

    &--secondary {
      color:  variables.$font-btn-secondary;         
      background-color: variables.$background-btn-secondary;  
    }

    &--success {
      color: variables.$font-btn-success;
      background-color: variables.$background-btn-success;
    }

    &--danger {
      color: variables.$font-btn-danger;
      background-color: variables.$background-btn-danger;
    }

    &--light {
      color:  variables.$font-btn-light;
      background-color: transparent;
      border-width: 0;
    }
  }