$_mountain_meadow: #31c090;
$_carmine_pink: #e94e4e;
$_spanish_gray: #95949d;
$_white: white;
$_anti_flash_white: #f2f3f5;
$_bright_gray: #eee;

$list-item-border: $_anti_flash_white;
$list-item-background: $_white;
$list-item-logo-border: $_bright_gray;
$list-item-label: $_spanish_gray;
$positive: $_mountain_meadow;
$negative: $_carmine_pink;