:root {
  --var-positive-color: #31c090;
  --var-negative-color: #e94e4e;
  --var-secondary-color: #95949d;
  --var-background-color-card: white;
  --var-border-color-card: #f2f3f5;
  --var-text-dark-color: black;
  --var-border-color-img: #eee;
}